html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1; /* Faz o conteúdo crescer e empurra o footer para baixo */
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; /* Garante que o conteúdo ocupe todo o espaço disponível */
  }
  
  footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative; /* Mantém o footer abaixo do conteúdo */
    bottom: 0;
  }

  